<div class="container">
    <h1>Belch is the Final Project I did for Origin Code Academy. Here is a brief demo of the app which is originally developed using the MEAN stack. This is currently in re-development for iOS and Android. Come back soon for details. </h1>
    <p>&copy; Copyright 2016 - Cherr Batac</p>
    <iframe style="display:block; margin: 0 auto; text-align: center" width="560" height="315" src="https://www.youtube.com/embed/0JylBDnj4ho" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    
</div>