<div class="container" style="margin-top: 150px">
    <h1>Some Photoshop Projects</h1>
    <div class="row" style="background-color: #000; padding: 10px">
        <div class="col-md-6">
          <img class="creation-img" src="src/images/wedding_invitation.jpg" alt="" width="500px" height="800px">
        </div>
        <div class="col-md-6">
            <img class="creation-img" src="src/images/save_the_date.jpg" alt="" width="500px" height="300px">  
            <img class="creation-img" src="src/images/bsmaid_invite.jpg" alt="" width="500px" height="300px">
        </div>
   
    </div>
    <h1>Media/Video Production Project</h1>
    <div class="row" style="background-color: #000; padding: 10px">
      <div class="row">
        <center> 
          <h3>CSUSM Health Center Video: Co-Director/Producer Fall 2012</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/pzV2XeHBqHo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </center>
      </div>
    </div>      
</div>