<div class="container" style="margin-top: 100px">
  <h1>Mood Music Analyzer</h1>
  <p>Select from top moods or select the mood you're feeling today. This app will analyze your mood, play music according to
    your mood, and view images that coincides with your mood.</p>
  <p>Stack Used: HTML, CSS, Bootstrap CSS, AngularJS and NodeJS</p>
  <p>APIs Used: Spotify <a target="_blank" href="https://developer.spotify.com/web-api/">(https://developer.spotify.com/web-api/)</a>; 

    Unsplash Images API<a target="_blank" href="https://unsplash.com/developers">(https://unsplash.com/developers)</a>
  
  </p>
    <!-- Getty Images<a target="_blank" href="http://developers.gettyimages.com/en/">(http://developers.gettyimages.com/en/)</a>
  
  </p> -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-mood" src="src/images/mood1.png" alt="">
    </div>
    <div class="col-md-6">
      <img class="img-mood" src="src/images/mood2.png" alt="">
    </div>
  </div>

  <div style="text-align: center; margin-top: 50px">
      <a target="_blank" href="https://cb-moodmusicanalyzer.herokuapp.com/" style="color: #fff; text-decoration: none; font-size: 14pt;">
        <button class="btn mood-btn">Test your mood now?</button>
      </a>
  </div>
</div>