<nav class="navbar navbar-default navbar-static-top">
    <ul>
        <li><a ui-sref="projects.movie">New Search</a></li>
    </ul>
</nav>
<br>
<br>
<br>
<div class="container">
    <div class="col-md-4">
        <img ng-src="{{moviedeets.movies.Poster}}">
    </div>
    <div class="col-md-8">
        <h1><b>{{moviedeets.movies.Title}}</b></h1>
        <p><b>Year: </b>{{moviedeets.movies.Year}}</p>
        <p><b>Rated: </b>{{moviedeets.movies.Rated}}</p>
        <p><b>Released: </b>{{moviedeets.movies.Released}}</p>
        <p><b>Runtime: </b>{{moviedeets.movies.Runtime}}</p>
        <p><b>Actors: </b>{{moviedeets.movies.Actors}}</p>
        <p><b>Awards: </b>{{moviedeets.movies.Awards}}</p>
        <p><b>Country: </b>{{moviedeets.movies.Country}}</p>
        <p><b>Director: </b>{{moviedeets.movies.Director}}</p>
        <p><b>Genre: </b>{{moviedeets.movies.Genre}}</p>
        <p><b>Language: </b>{{moviedeets.movies.Language}}</p>
        <p><b>Metascore: </b>{{moviedeets.movies.Metascore}}</p>
        <p><b>Plot: </b>{{moviedeets.movies.Plot}}</p>
        <p><b>Rated: </b>{{moviedeets.movies.Rated}}</p>
        <p><b>Released: </b>{{moviedeets.movies.Released}}</p>
        <p><b>Runtime: </b>{{moviedeets.movies.Runtime}}</p>
        <p><b>Writer: </b>{{moviedeets.movies.Writer}}</p>
        <p><b>Year: </b>{{moviedeets.movies.Year}}</p>
        <p><b>IMDB Rating: </b>{{moviedeets.movies.imdbRating}}</p>
        <p><b>IMDB Votes: </b>{{moviedeets.movies.imdbVotes}}</p>
    </div>
</div>

