<link rel="stylesheet" href="/src/styles/component.css">

<div class="container">
  <!-- Top Navigation -->
  <header>
    <h1>Who owns this Pokemon?</h1>	
  </header>
  <ul class="grid cs-style">
    <li>
      <figure>
        <div><img src="src/pk_images/778-Mimikyu.png" alt="mimikyu"></div>
        <figcaption style="background-image: url('src/pk_images/mimikyu-bb.png'); background-repeat: no-repeat">
          <h3>Mimikyu</h3>
          <span>Favorited by <br> Baby Boss</span>
        </figcaption>
      </figure>
    </li>
    <br>
    <li>
      <figure>
        <div><img src="src/pk_images/kirby-ch.png" alt="img06"></div>
        <figcaption style="background-image: url('src/pk_images/kirby-ch.png'); background-repeat: no-repeat">
          <h3>Kirby</h3>
          <span>Favorited by <br> Ramen Buddy</span>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div><img src="src/pk_images/pikachu-cy.png" alt="img02"></div>
        <figcaption style="background-image: url('src/pk_images/pikachu-cy.png'); background-repeat: no-repeat">
          <h3>Pikachu</h3>
          <span>Favorited by <br> Queen Bee</span>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div><img src="src/pk_images/squirtle-bu.png" alt="img04"></div>
        <figcaption style="background-image: url('src/pk_images/squirtle-bu.png'); background-repeat: no-repeat">
          <h3>Squirtle</h3>
          <span>Favorited by <br> Panini</span>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div><img src="src/pk_images/charmander-k.png" alt="img01"></div>
        <figcaption style="background-image: url('src/pk_images/charmander-k.png'); background-repeat: no-repeat">
          <h3>Charmander</h3>
          <span>Favorited by <br> Lady McAwesome</span>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div><img src="src/pk_images/pikachu-sa.png" alt="img03"></div>
        <figcaption style="background-image: url('src/pk_images/pikachu-sa.png'); background-repeat: no-repeat">
          <h3>Pikachu</h3>
          <span>Favorited by <br> Balina</span>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <div><img src="src/pk_images/vulpix-sh.png" alt="img03"></div>
        <figcaption style="background-image: url('src/pk_images/vulpix-sh.png'); background-repeat: no-repeat">
          <h3>Vulpix</h3>
          <span>Favorited by  <br> Writing Buddy</span>
        </figcaption>
      </figure>
    </li>
  </ul>
</div><!-- /container -->

