<div class="proj-container">
    <div class="menu-list">
        <a class="btn btn-primary" type="button" ui-sref="projects.mortgagecalc">Mortgage Estimator</a>
        <a class="btn btn-primary" type="button" ui-sref="projects.changecalc">Customer Change Calculator</a>
        <a class="btn btn-primary" type="button" ui-sref="projects.weather">Check the Weather!</a>
        <a class="btn btn-primary" type="button" ui-sref="projects.todo">To Do List</a>
    </div>
    <div ui-view></div>
</div>
