<!--PAGE WHICH CONTAINS THE MENU FOR EACH PROJECT STATE -->
<div class="container">
    <button type="button" class="btn btn-primary" style="left: 140px; margin-top:20px;" ng-click="showProjectList=!showProjectList">Show/Hide Project List</button>
    <div class="menu-list" ng-show="showProjectList">
        <p style="background-color: #000; padding: 10px;">These projects below allows you to calculate your monthly or bi-monthly mortgage, calculates customer's change per sale, and create your own To Do List. Some of the projects involved here which excites me most is developing applications using APIs. Two of which can check the current weather where data is grabbed from the Open Weather API and search for movies using the OMDb API. For more detailed projects, please visit my GitHub page here: <a href="https://github.com/ch3rr17">GitHub Repos.</a></p>
        <ul class="nav nav-pills">
            <li class="menuBg" role="presentation"><a ui-sref="projects.mortgagecalc">Mortgage Estimator</a></li>
            <li class="menuBg" role="presentation"><a ui-sref="projects.changecalc">Customer Change Calculator</a></li>
            <li class="menuBg" role="presentation"><a ui-sref="projects.todo">To Do List</a></li>
            <li class="menuBg" role="presentation"><a ui-sref="projects.movie">Movie Search</a></li>
            <li class="menuBg" role="presentation"><a ui-sref="projects.weather">Check the Weather!</a></li>
        </ul>
    </div>
    <div ui-view></div>
</div>
