<div class="container">
    <div class="jumbotron">
        <p>Always know if you need an umbrella!</p>
    </div>
    <!-- Cities Button Group -->
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" ng-click="weather.getWeather('San Diego')">San Diego</button>
        <button type="button" class="btn btn-primary" ng-click="weather.getWeather('San Francisco')">San Francisco</button>
        <button type="button" class="btn btn-primary" ng-click="weather.getWeather('New York')">New York</button>
        <button type="button" class="btn btn-primary" ng-click="weather.getWeather('Washington DC')">Washington DC</button>
        <button type="button" class="btn btn-primary" ng-click="weather.getWeather('London')">London</button>
        <button type="button" class="btn btn-primary" ng-click="weather.getWeather('Tokyo')">Tokyo</button>
    </div>
    <!-- end of btn group -->
    <!-- Enter city here -->
    <div class="form-group">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter city..." ng-model="weather.city.name">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="weather.getWeather(weather.city.name)">Go!</button>
                    </span>
            </div>
        </form>
    </div>
    <!-- end of city input -->
    <!-- start of row -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">City Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="lead"><strong>{{weather.weather.name}}</strong></p>
                        </div>
                        <div class="col-md-4">
                            <img ng-src="src/images/{{weather.weather.weather[0].icon}}.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Lat/Long: {{weather.weather.coord.lat}}{{weather.weather.coord.lon}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Temp:</p>
                            <p class="output">{{weather.weather.main.temp}}(F)</p>
                        </div>
                        <div class="col-md-4">
                            <p>Pressure:</p>
                            <p class="output">{{weather.weather.main.pressure}}</p>
                        </div>
                        <div class="col-md-4">
                            <p>Humidity:</p>
                            <p class="output">{{weather.weather.main.humidity}}%</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Lowest Temp:</p>
                            <p class="output">{{weather.weather.main.temp_min}}(F)</p>
                        </div>
                        <div class="col-md-4">
                            <p>Highest Temp:</p>
                            <p class="output">{{weather.weather.main.temp_max}}(F)</p>
                        </div>
                        <div class="col-md-4">
                            <p>Wind Speed:</p>
                            <p class="output">{{weather.weather.wind.speed}}mph</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel div panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Search History</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr class="row" ng-repeat="search in weather.search">
                                <td>{{search.name}}</td>
                                <td>{{search.time}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of main container -->
