/*MAIN BODY*/

body {
    background-image: url(/images/desk.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.container {
    position: relative;
}


/*NAVBAR CSS */

.navbar,
.navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}


/*PANEL CSS*/

.panel {
    background-color: #111106;
    opacity: 0.8;
    color: #fff;
    border-color: transparent;
}

/*.lead {
    color: #fff;
    font-size: 12pt;
}*/


.panel>.panel-heading {
    border-bottom: 1px solid #fff;
}

.fa>.fa-star {
    color: #fff;
}


/*Pagination background-color */

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #903030;
}


/*MAIN PAGE CSS*/

.jumbotron {
    background-color: #111106;
    opacity: 0.8;
    color: #fff;
    border-color: transparent;
    margin-top: 50px;
    width: 55em;
}

@media screen and (min-width: 880px) .container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
}


/*@media only {
    .jumbotron {
        width: 880px;
    }
}*/

.nameTag {
    white-space: nowrap;
    text-indent: 130px;
    font-size: 10pt;
}

.profTag {
    white-space: nowrap;
    text-indent: 64px;
    font-size: 10pt;
}

.profile-container {
    width: 100px;
    height: 150px;
    border: 4px solid #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    top: -245px;
    left: 40px;
}

.content {
    /*background-color: #111106;
    opacity: 0.8;
    color: #fff;
    border-color: transparent;
    padding: 10px;*/
    position: inherit;
    z-index: 1;
    top: -150px;
    width: 100%;
}


/* PROJECT CONTAINER PAGE */

.menu-list {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 1080px;
}


/*TO DO PAGE CSS*/

.table>tbody>tr>td {
    background-color: #000;
}

.todoText {
    color: #000;
}

.row {
    /*background-color: #111106;*/
    opacity: 0.8;
    padding: 10px;
}


/* MORTGAGE PAGE CSS */

.mort-result {
    background-color: #111106;
    opacity: 0.8;
    padding: 10px;
}
